<table>
  <tr>
    <th>ID</th>
    <th>USERNAME</th>
    <th>PASSWORD</th>
  </tr>
  <tr *ngFor="let account of accountLoggins">
    <td>{{ account.id }}</td>
    <td>{{ account.username }}</td>
    <td>{{ account.password }}</td>
    <td>
      <button (click)="deleteAccountById(account.id)">Delete</button>
    </td>
  </tr>
</table>

<hr />

<form (submit)="createAccount()">
  <div>
    <label for="username">Username : </label>
    <input
      type="text"
      name="username"
      placeholder="enter a username"
      [(ngModel)]="account.username"
    />
  </div>
  <div>
    <label for="username">Password : </label>
    <input
      type="text"
      name="username"
      placeholder="enter a password"
      [(ngModel)]="account.password"
    />
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
